@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@300;400;900&display=swap');

html, body {
  font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	background-color: #0bab50;
	position: relative;
	top: 0;
}

header {
  background:#0bab50;
	max-width: 100%;
	height: 60px;
	box-shadow: 2px 2px 2px #000;
	position: relative;
	top: 0;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1{
	margin: 0;
	position: relative; 
}

header h1>img{
  max-height: 60px;
}

header nav ul{
	list-style: none;
	display: flex;
}

header nav ul>li{
	margin: 0 5px;

}

header nav ul>li>a{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	padding: 6px 20px;
	font-family: 'Graduate';
}

header nav ul>li>a:hover{
	background-color:#ab4437;
}

.cards{
	padding: 30px 60px;
	margin-bottom: 60px;
}

.cards h2{
	text-align: center;
	color:#fff;
}

.cards .grid{
	display: flex;
	grid-template-columns: repeat(3,1fr);
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cards article{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: #ffffff;
	overflow: hidden;
	border-radius: 4px;
}


.cards article img {
	width: 100%;
}

.cards article h5 {
	font-family: 'Graduate';
	color: #ab4437;
	font-size: 18px;
}

.cards article figcaption{
	padding: 15px;
}

.rodape {
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 10;
	bottom: 0;
	background: #000;
}

.rodape img{
    position:absolute;
	left:45%;
	top: 10px;
}

.legend {
	display: flex;
	justify-content:flex-end;
	font-family: 'Graduate';
	font-size: 12px;
	color:#6DAB8E;
	padding-right: 30px;
	margin: 20px;
}

.hamburger {
	display: none;
}

/* parte mobile */

@media (max-width: 479px){
.logo{
	display: none;
}

.menu{
	display: none;
}

.hamburger {
	display: block;
}

.image-profile {
	margin: 20px 0px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.name-profile {
	font-family: 'Montserrat';
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}

#side-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ab4437;
	height: 100%;
	width: 100%;
	max-width: 400px;
	z-index: 10;
	margin-left: -100%;
	transition: all ease-in-out 0.5s;

}

.menu-mobile {
	width: 100%;
	margin-top: 20px;
}

.menu-item {
	list-style: none;
	padding: 20px 0px;
	width: 100%;
	margin-bottom: 2px;
}

.menu-item a {
	padding-left: 20px;
	font-family: 'Montserrat';
	text-decoration: none;
	color: #fff;
}

#menu-icon{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	
}

#menu-toggle {
	display: none;
}

#menu-toggle:checked ~ #side-menu {
	margin-left: 0px;
}

.cards{
	display: flex;
	flex-direction: column;
}

.rodape {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: calc(100% - 90px);
	padding: 45px;

}

.rodape img{
	position: relative;
	width: 80px;
	margin-bottom: 51px;
	left: 0;
	top: 0;
}

.rodape .legend {
	width: 130px;
	text-align: center;
	padding: 0;
}



}
